<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Photo</title>

      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</head>
<body>
        <nav>
                <div class="nav-wrapper">
                  <a href="#" class="brand-logo">Go</a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/upload">Upload</a></li>
                    <li><a href="/test">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </div>
              </nav>
    <div class="container">
      <div>
        <h1>{{.title}}</h1>
        <h2>{{.caption}}</h2>
        <img src="{{.url1}}" alt="t">
        <h2>Comment</h2>
        <h5>{{.username}}</h5>
        <h5>{{.comment}}</h5>
      </div>
      <div>
        <div class="row">
          <form method="get">
            <button type="submit" class="waves-effect waves-light btn"><i class="material-icons right"></i>Next</button>
          </form>
          <form method="post">
          <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left"></i>Delete</button>
        </form>
  </div> 
      </div>
    </div>
    
</body>
</html>