<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>

      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</head>
<body>
        <nav>
                <div class="nav-wrapper">
                  <a href="#" class="brand-logo">Go</a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/upload">Upload</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </div>
              </nav>
    <div class="container">
      <div>
        <div class="row">
            <form method="post" class="col s12">
                
              <div class="row">
                <div class="input-field col s12">
                  <input name="username" id="username" type="text" class="validate" value={{.username}}>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input name="email" id="email" type="email" class="validate" value={{.email}}>
                </div>
              </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input name="age" id="age" type="number" class="validate" value={{.age}}> 
                  </div>
                </div>
                <div class="row">
                        <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left"></i>Edit</button>
                </div>  
            </form>
            <form method="get">
                <div class="row">
                    <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left"></i>Delete</button>
            </div>  
            </form>
     </div>
        
      </div>
      </div>
    </div>
    
</body>
</html>